<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
<div class="bkl-authoritem">
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">
        <a [routerLink]="['/authors', author.id]" class="card-link">{{ author.name }}</a>
    </div>
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">{{ author.nationality }}</h6>
      <b>[Biography]</b> 
      <p class="card-text" [innerHTML]="author.biography"></p>
      <b>[Books]</b> 
      <div *ngFor="let book of firstThreeBooks">
        <a class="card-link">- {{ book.name }}</a>
      </div>
    </div>
  </div>
</div>