<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>BOOKLE</div>
</div>
  <div class="bkl-registration-form">
      <input type="email" placeholder="Your email:" [(ngModel)]="email" >
      <input type="password" placeholder="Your password:"[(ngModel)]="password">
      <input type="password" placeholder="confirm password:"[(ngModel)]="password">
      <button class="bkl-registration-button">Register!</button>
    <!-- <div class="bkl-login-message" *ngIf="message">{{ message }}</div> -->
  </div>