<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
<div class="bkl-admin-bookitem">
<table class="table">
  <tbody>
    <tr>
      <th width="10%" scope="row">{{ index }}</th>
      <td width="60%" ><a [routerLink]="['/books', book.id]" target="_blank">{{ book.name }}</a></td>
      <td width="20%">ISBN: {{ book.ISBN }}</td>
      <td width="10%">
        <button class="button-inline" type="button" class="btn btn-outline-danger btn-sm"
          (click)="onRemove()">
            remove
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>

