<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
<div class="grid grid-pad">
    <bkl-authoritem *ngFor="let author of displayedAuthors; index as i" class="col-1-4" [author]="author"></bkl-authoritem>
</div>
<div class="mypage">
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"
            [ngClass]="{disabled: currentPage == 1}">
            <a class="page-link" (click)="setPage(currentPage-1)">Previous</a>
        </li>
        <li *ngFor="let pageNumber of pageNumbers" class="page-item"
            [ngClass]="{active: pageNumber == currentPage}">
            <a class="page-link" (click)="setPage(pageNumber)">{{ pageNumber }}</a>
        </li>
        <li class="page-item"
            [ngClass]="{disabled: currentPage >= totalPage}">
            <a class="page-link" (click)="setPage(currentPage+1)">Next</a>
        </li>
    </ul>
</nav>
</div>