h1 {
    text-align: center; 
    font-size: 8em;
    margin-top: 80px;
    color: rgb(12, 153, 235);
  }

.bkl-add-book {
  position: absolute;
  left: 30%;
  width:500px;
  position: absolute;
}

.bkl-add-book button {
  width: 100%;
}

.bkl-textarea {
  height: 200px;
}