<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
<h1>Add Book</h1>
<form class="addform">
    <div class="form-group">
       <label for="Input2">Book name</label>
       <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Book name">
     </div>
     <div class="form-group">
       <label for="Input2">Book ID</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Book ID">
    </div>
    <div class="form-group">
        <label for="Input3">ISBN</label>
       <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="ISBN">
    </div>
    <div class="form-group">
        <label for="Input4">Rating</label>
       <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Rating">
     </div>
     <div class="form-group">
        <label for="Input5">Publish Year</label>
       <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Publish Year">
     </div>
     <div class="form-group">
        <label for="Input6">Pages</label>
       <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Pages">
     </div>
     <div class="form-group">
        <label for="Input7">Books Categories</label>
       <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Books Categories">
     </div>
     <div class="form-group">
        <label for="Input8">Book Link</label>
       <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Book Link">
     </div>
     <div class="form-group">
        <label for="Input9">Authors</label>
       <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Authors">
     </div>
     <button type="submit" class="btn btn-primary mb-2">Submit</button>
 </form>