<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
<div *ngIf="author" class="list-group">
  <li class="list-group-item active">{{ author.name }}</li>
  <li class="list-group-item"><b>nationality:</b> {{ author.nationality }}</li>
  <li class="list-group-item"><b>birthday:</b> {{ author.birthday }}</li>
  <li class="list-group-item"><b>gender:</b> {{ author.gender }}</li>
  <li class="list-group-item" [innerHTML]="author.biography"></li>
  <li class="list-group-item">publications: <br>
    <a *ngFor="let book of author.books" [routerLink]="['/books', book.id]"
      class="bkl-authordetail-book">
        <span>- {{ book.name }}</span>
    </a>
  </li>
  <a [href]="author.link" target="_blank"
    class="list-group-item list-group-item-action bkl-authordetail-seemore">
    See more
  </a>
</div>