<div class="list-group">
  <li class="list-group-item active">{{ author.name }}</li>
  <li class="list-group-item">id: {{ author.id }}</li>
  <li class="list-group-item">nationality: {{ author.nationality }}</li>
  <li class="list-group-item">birthday: {{ author.birthday }}</li>
  <li class="list-group-item">gender: {{ author.gender }}</li>
  <li class="list-group-item">{{ author.biography }}</li>
  <a href="#" class="list-group-item list-group-item-action">link: {{ author.link }}</a>
  <a href="#" class="list-group-item list-group-item-action">books: {{ author.books }}</a>
</div>