<div class="bkl-status-bar">
  <div class="bkl-status-bar__to-search">
    <a *ngIf="router.url != '/search'" [routerLink]="['/search']">Search</a>
  </div>
  <div class="bkl-status-bar__user-info" *ngIf="isUserLoggedIn">
    <span>Welcome, {{ nickname }}</span>
    <span *ngIf="isAdmin">[Admin]</span>
    <br>
    <span class="bkl-clickable" (click)="logout()">logout</span>
    <br>
    <div *ngIf="!isAdmin">
      <span class="bkl-clickable" (click)="redirectToCollection()">My Collection</span>
    </div>
    <div *ngIf="isAdmin">
      <span class="bkl-clickable" (click)="redirectToAdmin()">Manage Books</span>
      <br>
      <span class="bkl-clickable" (click)="redirectToAdminAdd()">Add Book</span>
    </div>
  </div>
  <div class="bkl-login" *ngIf="!isUserLoggedIn">
    <span class="bkl-clickable" (click)="redirectToLogin()">login</span>
  </div>
</div>
