<div class="list-group">
  <li class="list-group-item active">{{ book.name }}</li>
  <li class="list-group-item">id: {{ book.id }}</li>
  <li class="list-group-item">ISBN: {{ book.ISBN}}</li>
  <li class="list-group-item">rating: {{ book.rating}}</li>
  <li class="list-group-item">publishYear: {{ book.publishYear}}</li>
  <li class="list-group-item">pages: {{ book.pages}}</li>
  <li class="list-group-item">Books categories: {{ book.tags}}</li>
  <a href="#" class="list-group-item list-group-item-action">link: {{ book.link}}</a>
  <a href="#" class="list-group-item list-group-item-action">authors: {{ book.authors}}</a>
</div>