<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
<div class="bkl-collectionitem">
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">
      <a [routerLink]="['/books', book.id]" class="card-link">{{ book.name }}</a>
    </div>
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">rating: {{ book.rating }}</h6>
      <p class="card-text"><b>Abstract:</b> {{ book.abstract }}}</p>
      <a class="card-link"><b>Authors:</b> {{ authorNames }}</a>
    </div>
  </div>
  <button *ngIf="isOwnCollection" type="button" class="btn btn-outline-primary btn-sm"
    (click)="onRemove()">
    remove
  </button>
  <button *ngIf="isUserLoggedIn && !this.isAdmin && !isOwnCollection" type="button" class="btn btn-outline-primary btn-sm"
    (click)="onAddToCollection()">
    add to collection
  </button>
</div>