.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.card-link {
  color: rgba(44, 155, 87, 0.938);
}

.bkl-collectionitem button {
  width: 100%;
  margin-top: -20px;
}